<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>#</th>
            <th>Joukkue</th>
            <th>Ottelut</th>
            <th>Voitot</th>
            <th>Tasapelit</th>
            <th>Häviöt</th>
            <th>Tehdyt maalit</th>
            <th>Päästetyt maalit</th>
            <th>Pisteet</th>
        </tr>
        {{#each sarjataulukko}}
            <tr>
                <td>{{sijoitus @index}}</td>
                <td>{{this.Nimi}}</td>
                <td>{{this.Ottelumaara}}</td>
                <td>{{this.Voittoja}}</td>
                <td>{{this.Tasapeleja}}</td>
                <td>{{this.Tappioita}}</td>
                <td>{{this.Tehdyt_maalit}}</td>
                <td>{{this.Paastetyt_maalit}}</td>
                <td>{{this.Pisteet}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>