<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/Redmond/jquery-ui.css">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

    <title>jQuery Ajax call</title>
    <script>
        $(function(){

          // Ladataan div:n sisältö servolta
          $("#customers").load("http://localhost:3003/customers")
          
        })
      </script>
    <body>

    <h3>Alla muutama käyttäjä</h3>
    <ul>
      {{#each users}} <!-- jokainen users alkio käsitellään ja lisätään tähän väliin -->
        <li>{{this.name}}</li> <!-- luodaan jokaisesta userista tällainen rivi. {name:'Ville'} -->
      {{/each}}  
    </ul>
      
    <h2>Hae asiakkaita</h2>
    <form>
        <label for="nimi">Asiakkaan nimi</label>
        <input type="text" name="nimi"/>
        <p>Valitse tyyppi</p>
        <select name="asty_avain">
          {{#each types}}
            <option value="{{this.Avain}}">{{this.Lyhenne}} {{this.Selite}}</option> <!---jokainen on muotoa {Avain : 1, Lyhenne: 'YR', Selite : 'Yritys...'}}-->
          {{/each}}
        </select>
        <button id="buttonHae">Hae</button>
    </form>

    <div id="customers">

    </div>

    <div>
      <h3>Kieliä</h3>
      {{#each languages}}
      <p>{{@index}}.{{this}}</p> <!-- @index antaa siis listan indeksin kyseiselle alkiolle-->
      {{/each}}     
    </div>

  </body>
</html>